<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="exceltest.Properties.Settings.ConnectionString" connectionString="Dsn=Excel Files;dbq=C:\data.xlsx;defaultdir=C:;driverid=1046;maxbuffersize=2048;pagetimeout=5"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>